In [204]:
import pandas as pd

In [205]:
cols = """Kod stacji
Nazwa stacji
Rok
Miesiac
Dzien
Godzina
Wysokosc podstawy chmur CL CM szyfrowana [kod]
Status pomiaru HPOD
Wysokosc podstawy nizszej
Status pomiaru HPON
Wysokosc podstawy wyzszej [m]
Status pomiaru HPOW
Wysokosc podstawy tekstowy [opis]
Pomiar przyrzadem 1 (nizsza) [P]
Pomiar przyrzadem 2 (wyzsza) [P]
Widzialnosc
Status pomiaru WID
Widzialnosc operatora [m]
Status pomiaru WIDO
Widzialnosc automat [m]
Status pomiaru WIDA
Zachmurzenie ogolne [oktanty]
Status pomiaru NOG
Kierunek wiatru
Status pomiaru KRWR
Predkosc wiatru
Status pomiaru FWR
Poryw wiatru
Status pomiaru PORW
Temperatura powietrza [°C]
Status pomiaru TEMP
Temperatura termometru zwilzonego [°C]
Status pomiaru TTZW
Wskaznik wentylacji [W/N]
Wskaznik lodu
Cisnienie pary wodnej [hPa]
Status pomiaru CPW
Wilgotnosc wzgledna [%]
Status pomiaru WLGW
Temperatura punktu rosy [°C]
Status pomiaru TPTR
Cisnienie na pozimie stacji [hPa]
Status pomiaru PPPS
Cisnienie na pozimie morza [hPa]
Status pomiaru PPPM
Charakterystyka tendencji [kod]
Wartosc tendencji [wartosc]
Status pomiaru APP
Opad za 6 godzin [mm]
Status pomiaru WO6G
Rodzaj opadu za 6 godzin [kod]
Status pomiaru ROPT
Pogoda biezaca [kod]
Pogoda ubiegla [kod]
Zachmurzenie niskie [oktanty]
Status pomiaru CLCM
Chmury CL [kod]
Status pomiaru CHCL
Chmury CL tekstem
Chmury CM [kod]
Status pomiaru CHCM
Chmury CM tekstem
Chmury CH [kod]
Status pomiaru CHCH
Chmury CH tekstem
Stan gruntu [kod]
Status pomiaru SGRN
Niedosyt wilgotnoci [hPa]
Status pomiaru DEFI
Uslonecznienie
Status pomiaru USLN
Wystapienie rosy [0/1]
Status pomiaru ROSW
Poryw maksymalny za okres WW [m/s]
Status pomiaru PORK
Godzina wystapienia porywu
Minuta wystapienia porywu
Temperatura gruntu -5 [°C]
Status pomiaru TG05
Temperatura gruntu -10 [°C]
Status pomiaru TG10
Temperatura gruntu -20 [°C]
Status pomiaru TG20
Temperatura gruntu -50 [°C]
Status pomiaru TG50
Temperatura gruntu -100 [°C]
Status pomiaru TG100
Temperatura minimalna za 12 godzin
Status pomiaru TMIN
Temperatura maksymalna za 12 godzin [°C]
Status pomiaru TMAX
Temperatura minimalna przy gruncie za 12 godzin [°C]
Status pomiaru TGMI
Rownowaznik wodny sniegu [mm/cm]
Status pomiaru RWSN
Wysokosc pokrywy snieznej [cm]
Status pomiaru PKSN
Wysokosc swiezo spadlego sniegu
Status pomiaru HSS
Wysokosc sniegu na poletku [cm]
Status pomiaru GRSN
Gatunek sniegu
Uksztaltowanie pokrywy [kod]
Wysokosc probki [cm]
Status pomiaru HPRO
Ciezar probki [g]
Status pomiaru CIPR"""

In [206]:
cols = string_cols.split('\n')[1:-2]

In [207]:
len(cols)

107

In [208]:
df = pd.concat([
    pd.read_csv('gdan/s_t_01_2019_p.csv', header=None),
    pd.read_csv('gdan/s_t_02_2019_p.csv', header=None),
    pd.read_csv('gdan/s_t_03_2019.csv', header=None),
    pd.read_csv('gdan/s_t_04_2019.csv', header=None),
])

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,53,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (34,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,14,53,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [209]:
df.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
             97,  98,  99, 100, 101, 102, 103, 104, 105, 106],
           dtype='int64', length=107)

In [210]:
df.columns = cols

In [211]:
df = df.dropna(1)

In [212]:
#df['date_time'] =   df['Rok'].astype(str) + '-' + \
#                    df['Miesiac'].astype(str).str.zfill(2) + '-' + \
#                    df['Dzien'].astype(str).str.zfill(2) + ' ' + \
#                    df['Godzina'].astype(str).str.zfill(2) + ':00:00'

In [213]:
cities = ['TORU�', 'USTKA', '�EBA', 'GDA�SK-�WIBNO']

In [214]:
ids = [str(x)[-3:] for x in df[df['Nazwa stacji'].isin(cities)]['Kod stacji'].unique()]

In [215]:
reads = []
for year in ['2016', '2017', '2018']:
    for i in ids:
        reads.append(pd.read_csv('{}/s_t_{}_{}.csv'.format(year, i, year), header=None))
        #print('{}/s_t_{}_{}.csv'.format(year, i, year))

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [216]:
older_data = pd.concat(reads, axis=0)

In [217]:
older_data.columns = cols

In [218]:
older_data = older_data.dropna(1)

In [219]:
older_data.head(2)

,Kod stacji,Nazwa stacji,Rok,Miesiac,Dzien,Godzina,Wysokosc podstawy chmur CL CM szyfrowana [kod],Wysokosc podstawy nizszej,Wysokosc podstawy wyzszej [m],Wysokosc podstawy tekstowy [opis],...,Temperatura gruntu -100 [°C],Temperatura minimalna za 12 godzin,Temperatura maksymalna za 12 godzin [°C],Temperatura minimalna przy gruncie za 12 godzin [°C],Rownowaznik wodny sniegu [mm/cm],Wysokosc pokrywy snieznej [cm],Wysokosc swiezo spadlego sniegu,Wysokosc sniegu na poletku [cm],Wysokosc probki [cm],Ciezar probki [g]
0,353180250,TORU�,2016,1,1,0,9,0,0,.,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,353180250,TORU�,2016,1,1,1,9,0,0,.,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [220]:
df.head(2)

,Kod stacji,Nazwa stacji,Rok,Miesiac,Dzien,Godzina,Wysokosc podstawy nizszej,Wysokosc podstawy wyzszej [m],Widzialnosc,Widzialnosc operatora [m],...,Temperatura gruntu -100 [°C],Temperatura minimalna za 12 godzin,Temperatura maksymalna za 12 godzin [°C],Temperatura minimalna przy gruncie za 12 godzin [°C],Rownowaznik wodny sniegu [mm/cm],Wysokosc pokrywy snieznej [cm],Wysokosc swiezo spadlego sniegu,Wysokosc sniegu na poletku [cm],Wysokosc probki [cm],Ciezar probki [g]
0,349190600,BIELSKO-BIA�A,2019,1,1,0,600,0,6,8000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,349190600,BIELSKO-BIA�A,2019,1,1,1,600,0,7,15000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [221]:
merged = pd.concat([older_data, df], axis=0)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [222]:
merged['date_time'] =   merged['Rok'].astype(str) + '-' + \
                    merged['Miesiac'].astype(str).str.zfill(2) + '-' + \
                    merged['Dzien'].astype(str).str.zfill(2) + ' ' + \
                    merged['Godzina'].astype(str).str.zfill(2) + ':00:00'

In [224]:
important_cols = ['Widzialnosc', 'Zachmurzenie ogolne [oktanty]', 'Predkosc wiatru', 'Temperatura powietrza [°C]',
                  'Wilgotnosc wzgledna [%]', 'Temperatura punktu rosy [°C]', 'Cisnienie na pozimie stacji [hPa]',
                  'Charakterystyka tendencji [kod]' , 'Opad za 6 godzin [mm]', 'Rodzaj opadu za 6 godzin [kod]',
                  'Stan gruntu [kod]', 'Uslonecznienie', 'Temperatura minimalna za 12 godzin',
                  'Rownowaznik wodny sniegu [mm/cm]', 'Wysokosc pokrywy snieznej [cm]', 
                  'Wysokosc swiezo spadlego sniegu', 'Ciezar probki [g]']

In [225]:
def process_city(tmp_df, city):
    tmp_df = tmp_df[tmp_df['Nazwa stacji'] == 'TORU�']
    tmp_df = tmp_df[['date_time'] + important_cols]\
        .set_index('date_time')
    
    columns_with_city = [x+'_'+city for x in tmp_df.columns]
    tmp_df.columns = columns_with_city
    return tmp_df

In [226]:
pivoted_container = []
for city in cities:
    pivoted_container.append(process_city(merged, city))

In [228]:
results = pd.concat(pivoted_container, axis = 1)

In [229]:
results.to_csv('hackathon_pogoda.csv')